APP_SECRET=
APP_API_URL=http://localhost:3333
APP_WEB_URL=http://localhost:3000

#Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASS=

# DB 
DB_HOST=
DB_PASSWORD=
DB_DATABASE=
DB_USERNAME=

# Storafe Config
STORAGE_DRIVER=

# AWS Credentials
AWS_REGION=
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=